---
import type { GetStaticPaths } from "astro";
import SmallForm from "../../components/SmallForm.astro";
import TextInput from "../../components/TextInput.astro";
import Layout from "../../layouts/Layout.astro";
import { bookingSchema } from "../../schemas/schemas";

export const getStaticPaths = (async () => {
  const response = await fetch("http://127.0.0.1:8000/reservas/");
  const data = await response.json();
  const bookings = data["bookings"];

  const paths = bookings.map((element: any) => {
    return { params: { uuid: element["uuid"] } };
  });

  return paths;
}) satisfies GetStaticPaths;

const { uuid } = Astro.params;

const guestResponse = await fetch(`http://127.0.0.1:8000/reservas/${uuid}`);
const data = await guestResponse.json();
const booking = await bookingSchema.parseAsync(data);
---

<Layout>
  <SmallForm id="update-booking-form">
    <div slot="inputs" class="flex flex-col items-center grow">
      <div class="w-full grid grid-cols-2 p-4">
        <TextInput disabled id="status" label="Status" value={booking.status} />
        <TextInput
          disabled
          id="document"
          label="Documento"
          value={booking.guest.document}
        />
      </div>
      <div class="w-full grid grid-cols-2 p-4">
        <TextInput
          disabled
          id="guest_name"
          label="Nome"
          value=`${booking.guest.name} ${booking.guest.surname}`
        />
        <TextInput
          disabled
          id="guest_phone"
          label="Telefone"
          value={booking.guest.phone}
        />
      </div>

      <div class="w-full grid grid-cols-3 p-4 gap-4">
        <TextInput
          disabled
          id="accommodations"
          label="Acomodação"
          value={booking.accommodation.name}
        />
        <TextInput
          disabled
          id="check_in"
          label="Check In"
          value={booking.check_in}
        />
        <TextInput
          disabled
          id="check_out"
          label="Check Out"
          value={booking.check_out}
        />
      </div>

      <div class="w-full p-4 grid grid-cols-3 gap-8">
        <button
          id="back_btn"
          type="button"
          class="bg-green-600 hover:bg-green-400 text-white hover:text-zinc-800 font-bold px-12 py-2 rounded-md mb-2 w-full">
          Fazer Check In
        </button>
        <button
          id="back_btn"
          type="button"
          class="bg-red-600 hover:bg-red-400 text-white hover:text-zinc-800 font-bold px-12 py-2 rounded-md mb-2 w-full">
          Cancelar
        </button>
        <button
          id="back_btn"
          type="button"
          class="bg-zinc-600 hover:bg-zinc-400 text-white hover:text-zinc-800 font-bold px-12 py-2 rounded-md mb-2 w-full">
          Voltar
        </button>
      </div>
    </div>
  </SmallForm>
</Layout>
