---
type Props = {
  id: string;
  label: string;
  options: string[];
  disabled?: boolean;
};

const { id, label, options, disabled } = Astro.props;
---

<div class="flex w-full flex-col p-2">
  <label for={id}>{label}</label>
  <select
    class="appearance-none p-2 border border-zinc-300 rounded"
    name={id}
    id={id}
    {disabled}>
    <option selected disabled>Selecione</option>
    {
      options.map((option, index) => {
        return <option>{option}</option>;
      })
    }
  </select>
</div>
